<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" href="/css/organizationChart/groupDetail.css">
<link rel="stylesheet" href="/css/commons/common.css" />
<link rel="stylesheet" href="/css/commons/reset.css" />
<link rel="stylesheet" href="/css/bus/bus.css"/>

<th:block th:insert="~{/layout/sideMenu :: head}" />
<style type="text/css">
.imggg{background-size: 100px;
	background-size: cover;
    background-position: center center;
    display: inline-block;
    width: 100px;
    height: 100px;}
</style>
<script type="text/javascript">
function historyback(){
	history.back();
}

function searchBusInfo(event){
	event.preventDefault();
	var area = $("#areaSrch").val();
	
	$.ajax({
		url:"/bus/search",
		data:{areaSrch: area},
		success:function(result){
			$("#list-display").html(result);
		}
		
	})
}

function map(){
	var url = "map.html";
	var name = "test";
	var option = "width = 550, height = 550, top = 100, left = 200, toolbar=no ,menubar=no"
	window.open(url,name,option);
}

</script>

</head>
<main>
<th:block th:insert="~{/layout/sideMenu :: header}" />
	<div class="wrap mypage-1">
		<form class="busSrch" onsubmit="searchBusInfo(event)">
			<h2>인천공항버스 정보 검색</h2>
			<br>
			<p class="area">검색 가능한 지역 : 서울, 경기도, 인천, 강원도, 충청도, 경상도, 전라도</p>
			<br>
			<div class="areaSrc">
				<input type="text" id="areaSrch" placeholder="지역입력">
				<button class="busBtn">검색</button>
				<br>
			</div>
		<!-- <select id="areaSrch">1:서울, 2:경기, 3:인천, 4:강원, 5:충청, 6:경상, 7:전라
			<option value="1">서울</option>
			<option value="2">경기</option>
			<option value="3">인천</option>
			<option value="4">강원</option>
			<option value="5">충청</option>
			<option value="6">경상</option>
			<option value="7">전라</option>
		</select> -->
		</form>
		<br><br>
		<button class="busSrcBtn" onclick="scripct:map()">버스번호검색</button>
		<div id="list-display" class="flex">
		
		</div>
	</div>
</main>
</html>