<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
	th:fragment="layout(head,main)">
<head>
<meta charset="UTF-8" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="/css/commons/common.css" />
<link rel="stylesheet" href="/css/commons/reset.css" />
<th:block th:insert="~{/layout/sideMenu :: head}" />
<th:block th:replace="${head}"> 추가 데이터들 위치 </th:block>
</head>
<body>
	<th:block th:replace="${main}" id="main"> 메인데이터 위치 </th:block>
</body>
</html>
