<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>현재 항공편 정보</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/commons/common.css" />
<link rel="stylesheet" href="/css/commons/reset.css" />
<link rel="stylesheet" href="/css/airportinfolist/airportinfolist.css">
<script src="/js/API/todayAirportList.js"></script>
<th:block th:insert="~{/layout/sideMenu :: head}" />
</head>
<main>
	<th:block th:insert="~{/layout/sideMenu :: header}" />
	<div class="thispage">
		<p class="flex center top-menu">오늘 항공 정보 리스트</p>
		<section class="search">
			<select id="selectAirport" class="search-airport">
				<option value="GMP">김포 국제 공항</option>
				<option value="ICN">인천 국제 공항</option>
				<option value="PUS">김해 국제 공항</option>
				<option value="CJU">제주 국제 공항</option>
				<option value="MWX">무안 국제 공항</option>
				<option value="YNY">양양 국제 공항</option>
				<option value="CJJ">청주 국제 공항</option>
				<option value="TAE">대구 국제 공항</option>
			</select> <select id="selectIOType" class="search-airport">
				<option value="O">출발</option>
				<option value="I">도착</option>
				<option value="both">둘다</option>
			</select>
			<button type="button" value="1" onclick="airportListChange(this)">조회</button>
		</section>
		<div id="display"></div>
	</div>
</main>
</html>