@charset "UTF-8";
.end{justify-content: flex-end;}
#chat-bot{
	z-index:5000;
	
}
#chat-bot>.wrap{
	position: fixed;
	right: 10px;
	bottom: 10px;
	font-size:14px;
	background-color: #008aff;
	border-radius: 5px;
}
#btn-chat-open{
	color: #fff;
	padding: 0.5em 1em;
}
#chat-bot>.wrap>#chat-disp{
	display: none;
	width: 360px;
	height: 760px;
	z-index: 5000;
}
#chat-content{
	padding: 15px;
	line-height: 1.8em;
	overflow-y: auto;
	max-height: 640px;
	min-height: 670px;
	z-index: 5000;
}
#chat-header{
	position:relative;
	text-align: center;
	background-color: #008aff;
	color: #fff;
	height: 60px;
	line-height: 60px;
}
#chat-header .btn-wrap{
	position: absolute;
	display:block;
	width: 30px;
	height: 30px;
	top:15px;
	right:15px;
	line-height: 30px;
}
#chat-header .btn-wrap button{
	width: 100%;
	height: 100%;
	color: #fff;
}
#chat-disp{
	position: relative;
}
#chat-disp .msg{
	margin-bottom: 15px;
}
#chat-disp .msg .icon{
	margin-right: 10px;
}
#chat-disp .msg .icon img{
	width: 30px;
	height: 30px;
}
#chat-disp .date,
#chat-disp .time{
	margin-bottom: 5px;
	color: #777;
	font-size: 12px;
}
#chat-disp .user .time{
	text-align: right;
}
#chat-disp .part{
	background-color: #fff;
	color: #222;
	max-width:270px;
	padding: 6px 20px 6px 10px;
	text-align: left;
	letter-spacing: -0.5px;
	margin-bottom: 5px;
	border-radius: 5px;
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
}
#chat-disp .menu .menu-item{
	width: 100%;
	padding: 10px 0;
	text-align: center;
	background-color: #4b99da;
	border: 1px solid #e5e5e5;
}
#chat-question{
	position: absolute;
	bottom: -24px;
	width: 330px;
	padding: 10px 15px;
	font-size: 16px;
	height: 60px;
	background-color: #fff;
	box-sizing: unset;
}
#chat-question #question{
	border: none;
	background-color: #e9e9e9;
	border-radius: 18px;
	height: 36px;
	vertical-align: middle;
	width: calc(100% - 80px);
	padding: 0 1em;
	text-align: unset;
}
#chat-question span{
	width: 40px;
	height: 100%; 
}
#chat-question span i{
	display: block;
	margin-top:-2px;
	width: 30px;
	height: 30px;
	background-image: url("/images/icon/circle-question-solid.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;  
}
#chat-question button{
	width: 40px;
	border: 1px solid #e9e9e9;
	background-color:  #008aff;
	cursor: pointer;
	color: #fff;
	font-weight: 400;
	font-size: 12px;
	height: 36px;
}
.part>p{
	margin-bottom: 0;
}
/*
#chat-content .bot .message{
	width: 100%;
}*/

